body{
	display: flex;
	justify-content: center;
	text-align: center;
}

.mainCard{
	display: flex;
	background-color: cornflowerblue;
	border: 2px solid silver;
	border-radius: 20px;
	padding: 1em;
	margin: 3em;
}


img{
	width: 25px;
	height: 25px;
}

.button{
	background-color: aqua;
}