body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainCard{
	display: grid;
	grid-template-rows: 40px 40px;
	grid-template-columns: 35px auto;
	align-items: center;
	column-gap: 2em;
	background-color: cornflowerblue;
	border: 2px solid silver;
	border-radius: 20px;
	border-style: outset;
	box-shadow: 2px 2px 4px;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 22em;
}

.containerTittleTrash{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 1.2em;
}

.containerTrash{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aqua;
	width: 35px;
	height: 35px;
}

.containerLimitTrash{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}



img{
	width: 20px;
	height: 20px;
}
